@charset "UTF-8";

.container {
	width: 90%;
	max-width: 500px;
	height: 100%;
	margin: auto;
}

.container h1, h2 {
	margin-top: 30px;
	text-align: center;
}

.container h1 {
	background:rgba(255,255,255,0.5);
	border-radius: 70px;
	padding: 0.2em;
	display: inline-block;
	transform: translateX(114%)
}

.card {
	width: 90%;
	margin: 30px auto; /* 上下左右 */
	padding: 20px;
	background-color: #efefefef;
	border-radius: 5px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); /* 水平方向,垂直方向,ぼかし*/
	text-align: center;
}
.card .error {
	background-color: pink;
	color: red;
}

.card input {
	margin: 5px auto;
	padding: 5px;
	width: 100%;
	border: none;
}

.card input[type="submit"] {
	margin-top: 20px;
	background-color: orangered;
	color: white;
}


.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}


@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}