@charset "UTF-8";

.container {
	width: 90%;
	max-width: 500px;
	height: 100%;
	margin: auto;
}

.container h1, h2 {
	margin-top: 30px;
	text-align: center;
}

.card {
	width: 90%;
	margin: 30px auto; /* 上下左右 */
	padding: 20px;
	background-color: #efefefef;
	border-radius: 5px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); /* 水平方向,垂直方向,ぼかし*/
	text-align: center;
}
.card .error {
	background-color: pink;
	color: red;
}

.card input {
	margin: 5px auto;
	padding: 5px;
	width: 100%;
	border: none;
}

.card input[type="submit"] {
	margin-top: 20px;
	background-color: purple;
	color: white;
}


div.border-box a {
  display: inline-block;
  width: 500px;
  height: 40px;
  border: solid 1px #999999; /*グレーの枠線 */
  border-radius: 10px;       /* 枠を角丸にする */
  text-align: center;
  margin: 10px auto;
  font-size: 25px;
  text-decoration: none;
  color: black;
}




.btn_design {
    font-size: 28px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: center;
    font-weight: bold;
    padding: 20px 15px;
    background-color: #ffffff;
    color: #000000;
    border: #000000 solid 2px;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 0 6px 0 
      rgba(0, 0, 0, 0.5);
    transition: 0.2s;
}
  
/* マウスオーバー時 */
.btn_design:hover{
      box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
      transform: translateY(-5px);
      cursor: pointer;
    }