@charset "UTF-8";

.container {
	width: 90%;
	max-width: 500px;
	height: 100%;
	margin: auto;
}

.container h1, h2 {
	margin-top: 30px;
	text-align: center;
}

.back {
	background:rgba(255,255,255,0.5);
	border-radius: 70px;
	padding: 0.2em;
	display: inline-block;
}

@keyframes wave {
  100% {
    transform: translate3d(0, -10px, 0);
  }
}

.wave {
  display: block;
  width: 400px;
  margin: 40px auto 0;
  text-align: center;
  cursor: pointer;
}

.wave span {
  display: inline-block;
  color: #fff;
  font-size: 2em;
}

.wave:hover span {
  animation-name: wave;
  animation-duration: .2s;
  animation-direction: alternate;
  animation-iteration-count: 2;
}

.wave:hover span:nth-child(2) {
  animation-delay: .1s;
}

.wave:hover span:nth-child(3) {
  animation-delay: .2s;
}

.wave:hover span:nth-child(4) {
  animation-delay: .3s;
}

.wave:hover span:nth-child(5) {
  animation-delay: .4s;
}

.wave:hover span:nth-child(6) {
  animation-delay: .5s;
}

.marker-normal{
	 background: linear-gradient(transparent 70%, yellow 99%);
}

.card {
	width: 90%;
	margin: 30px auto; /* 上下左右 */
	padding: 20px;
	background-color: #efefefef;
	border-radius: 5px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); /* 水平方向,垂直方向,ぼかし*/
	text-align: center;
}
.card .error {
	background-color: pink;
	color: red;
}

.card input {
	margin: 5px auto;
	padding: 5px;
	width: 100%;
	border: none;
}

.card input[type="submit"] {
	margin-top: 20px;
	background-color: orangered;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
	color: white;
}


.card input[type="submit"]:hover {
	background-color: darkorange;
}


div.border-box a {
  display: inline-block;
  width: 500px;
  height: 50px;
  text-align: center;
  margin: 10px auto;
  font-size: 25px;
  text-decoration: none;
  color: black;
}




.btn_design {
    font-weight: bold;
    padding: 10px 15px;
    background-color: #ffffff;
    color: #000000;
    border: #000000 solid 0px;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 0 6px 0 
      rgba(0, 0, 0, 0.5);
    transition: 0.2s;
}
  
/* マウスオーバー時 */
.btn_design:hover{
      box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
      transform: translateY(-5px);
      cursor: pointer;
}


.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}


@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}