@charset "UTF-8";

table {
    border-collapse: collapse;
    border: none;
}

table th {
     border: 1px solid #ddd; 
     padding: 8px; /* セルの余白を追加（オプション） */
}

 table tr:first-child th {
    border-top: none;
}

.button-container {
     position: absolute;
     color: #fff;
     top: 30px;
     right: 30px;
     border: none;
     border-radius:.35em;
     background-color:rgb(0, 128, 64);
     padding: 8px;
     font-size: 16px;
}

.button-container:hover{
	background-color: seagreen;
}