@charset "UTF-8";

.container {
	width: 90%;
	max-width: 500px;
	height: 100%;
	margin: auto;
}

.container h1, h2 {
	margin-top: 30px;
	text-align: center;
}

.card {
	width: 90%;
	margin: 30px auto; /* 上下左右 */
	padding: 20px;
	background-color: #efefefef;
	border-radius: 5px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); /* 水平方向,垂直方向,ぼかし*/
	text-align: center;
}
.card .error {
	background-color: pink;
	color: red;
}

.card input {
	margin: 5px auto;
	padding: 5px;
	width: 100%;
	border: none;
}

.card input[type="submit"] {
	margin-top: 20px;
	background-color: purple;
	color: white;
}



/* ▼テーブル全体の装飾 */
table.sample {
   border-collapse: collapse;  /* テーブルの罫線を重ねて1本に見せる */
   border: 2px solid black;    /* テーブルの外側の枠線(2pxの実線) */
   text-align: center;
}
/* ▼セル共通の装飾 */
table.sample th,
table.sample td {
   border: 1px solid black;  /* テーブルの内側の罫線(1pxの実線) */
}
/* ▼見出しセルの装飾 */
table.sample th {
   background-color: white;  /* 背景色 */
   padding: 0.3em;             /* 内側の余白(0.3文字分) */
}
/* ▼リンクの上にマウスが載った際の装飾(背景色だけ指定) */
a:hover { background-color: lightgray;
}

table.sample td a {
   display: block;       /* リンクをブロックレベル化して表示 */
   padding: 1.3em 1em;   /* 内側の余白量を上下に0.6文字分＆左右に1文字分にする */
   color: black;
   text-decoration: none;
   width: 30em;
}

a.widelink { display: block;
}
